body {
  font-family: Arial, sans-serif;
  /* margin: 0;
  padding: 0; */
}

.app-container {
  display: flex;
  flex-direction: row; /* Sidebar on the left */
  /* height: 100vh; Utilize entire screen */
  width: 100vw;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

input:read-only,
textarea:read-only {
  border: 0;
  box-shadow: none;
  background-color: lightgray;
}
