body {
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.main-content {
  flex-grow: 1;
  height: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

input:read-only,
textarea:read-only {
  border: 0;
  box-shadow: none;
  background-color: lightgray;
}
