.instruction-container {
  padding: 1em;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
}

.instructions h3 {
  margin-top: 2%;
}

.instructions p {
  margin: 1%;
}

.instructions ul,
.instructions ol {
  margin-bottom: 2%;
}

.generate-prediction {
  padding: 0.1em 0.1em;
  background-color: #4eaee4;
  color: white;
  border: none;
}

.save-annotation {
  padding: 0.1em 0.1em;
  background-color: #00b175;
  color: white;
  border: none;
}

.load-annotation {
  padding: 0.1em 0.1em;
  background-color: #eda52a;
  color: white;
  border: none;
}

.clear-annotation {
  padding: 0.1em 0.1em;
  background-color: #e14b23;
  color: white;
  border: none;
}
