.instruction-container {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin: 10px;
}

.instructions h3 {
  margin-top: 5;
}
.instructions p {
  margin: 5px;
}
.instructions ul,
.instructions ol {
  margin-bottom: 10px;
}

.generate-prediction {
  padding: 2px 2px;
  background-color: #4eaee4;
  color: white;
  border: none;
}

.save-annotation {
  padding: 2px 2px;
  background-color: #00b175;
  color: white;
  border: none;
}

.load-annotation {
  padding: 2px 2px;
  background-color: #eda52a;
  color: white;
  border: none;
}

.clear-annotation {
  padding: 2px 2px;
  background-color: #e14b23;
  color: white;
  border: none;
}
