.sidebar {
  /* width: 300px; */
  width: fit-content;
  padding: 2vw;
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* .sidebar label {
  margin-top: 1%;
} */

.sidebar label,
.sidebar input,
.sidebar select {
  /* margin-top: 5px;
  margin-bottom: 10px; */
  width: 100%;
  padding: 2%;
}

/*Not used, keep for future updates*/
/* .checkbox-container {
  display: flex;
  align-items: baseline;
  margin-top: 5px;
}

.checkbox-container input {
  flex: content;
  margin-right: 5px;
} */

.taxa-info {
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  text-align: start;
}

.taxa-info img {
  width: 20vw; /* Ensures the image takes full width of its container */
  height: fit-content; /* Maintains aspect ratio */
  object-fit: contain; /* Ensures the image maintains aspect ratio and fits inside the container */
  /* margin-bottom: 10px; */
  /* align-self: center; */
}

/* .ui-autocomplete {
  width: fit-content !important;
} */
