.buttons-topbar {
  display: flex;
  justify-content: center;
  gap: 1vw;
  padding: 1%;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.toggle-container {
  display: flex;
  align-items: center;
  padding: 1%;
}

.toggle-label {
  width: 80px;
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
}

.presence {
  color: #00b175;
}

.absence {
  color: #e14b23;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px; /*Should stay px*/
  height: 20px; /*this is a prefab component*/
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f4;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: #f4f4f4;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #00b175;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

input:not(:checked) + .slider {
  background-color: #e14b23;
}

.buttons button {
  padding: 0.8em 1.6em;
  color: #f4f4f4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.buttons button:hover {
  filter: drop-shadow(0px 3px #6e6e6e);
}

.buttons button:active {
  filter: brightness(0.7) drop-shadow(0px 3px #6e6e6e);
}

#generate_prediction {
  background-color: #4eaee4;
}

#save_annotation {
  background-color: #00b175;
}

#load_annotation {
  background-color: #eda52a;
}

#clear_annotation {
  background-color: #e14b23;
}
