body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: row; /* Sidebar on the left */
  height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 300px;
  padding: 20px;
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar label {
  margin-top: 10px;
}

.sidebar input,
.sidebar select {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
}

.checkbox-container {
  display: flex;
  align-items: baseline;
  margin-top: 5px;
}

.checkbox-container input {
  flex: content;
  margin-right: 5px;
}

.taxa-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.taxa-info img {
  width: 200; /* Ensures the image takes full width of its container */
  height: 200px; /* Maintains aspect ratio */
  object-fit: contain; /* Ensures the image maintains aspect ratio and fits inside the container */
  margin-bottom: 10px;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Buttons.css */
.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
}

.toggle-container {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  margin-right: 20px;
}

.toggle-label {
  width: 80px; /* Adjust width as needed */
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
}

.presence {
  color: green;
}

.absence {
  color: red;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: green;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

input:not(:checked) + .slider {
  background-color: red;
}

.buttons button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

#generate_prediction {
  background-color: #007bff;
}

#save_annotation {
  background-color: #28a745;
}

#load_annotation {
  background-color: #ffc107;
}

#clear_annotation {
  background-color: #dc3545;
}

#map {
  flex-grow: 1;
  width: 100%;
  height: calc(100vh - 50px); /* Adjust height to account for buttons */
}

input:read-only,
textarea:read-only {
  border: 0;
  box-shadow: none;
  background-color: lightgray;
}

/* Instructions section */
.instruction-container {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin: 10px;
}

.instructions h3 {
  margin-top: 5;
}
.instructions p {
  margin: 5px;
}
.instructions ul,
.instructions ol {
  margin-bottom: 10px;
}

.generate-prediction {
  padding: 2px 2px;
  background-color: #007bff;
  color: white;
  border: none;
}

.save-annotation {
  padding: 2px 2px;
  background-color: #28a745;
  color: white;
  border: none;

}

.upload-annotation {
  padding: 2px 2px;
  background-color: #ffc107;
  color: white;
  border: none;
}

.start-over {
  padding: 2px 2px;
  background-color: #dc3545;
  color: white;
  border: none;
}
